header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:75px;
}

.logo {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#btn-switch {
    cursor: pointer;
}

/* media queries */
@media (max-width: 768px) {
    .homepage {
        display: flex;
        flex-direction: column-reverse
    }
}